h1{
  text-align: left;
}

header{
float: right;

}

.ventanaPrincipal{
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
}

.contenido {
  opacity: 0;
  z-index: -100;
  left: 0%;
  width: 100%;
  position: absolute;

}



button{

  background-color: #f9f9f9;
  border-color: black black #f1f1f1 black;
  border-style: solid;
  color: #888;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 16%;
  height: 40px;
  line-height: 40px;
  margin-left: 4px;
  padding: 0 24px;
  text-align: center;
  behavior: url(/css/border-radius.htc);
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;

}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}


.subVentana{

  background-color: #f1f1f1;
	border-color: black;
	border-style: solid;
	min-height: 500px;
	position: relative;
	width: 100%;
}



.buttonlink {

  background-color: white;
	color: black;
	border-width: 2px;
	text-decoration: none;
	border-style: solid;
	border-radius: 15px;
	padding: 0 15px;
}


.buttonContent {
  width: 50%;
	height: 450px;
  float: left;
	display: inline-block;
}

.sumary {

  width: 30%;
	height: 444px;
	float: right;
	border-style: solid;
	border-color: white white white black;
	display: inline-block;
	padding: 0 15px;

}
