div.pestana {
    overflow: hidden;
}

/*Estilo de los botones de la pestaña*/
div.pestana button {
    background-color: inherit;
    float: right;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    behavior: url(/css/border-radius.htc);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Cambia el color de los botones */
div.pestana button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.pestana button.active {
    background-color: #ccc;
}

/* Cambia el estilo del contenido */
.contenido {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.rounded-corners {
    behavior: url(/css/border-radius.htc);
    border-radius: 20px;
}
